@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @mixin font {
    font-family: $Roboto;
    font-style: normal;
  }

  @mixin font-styles($weight: 400, $size: 18px, $line-height: 28px, $color: $black) {
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
    color: $color;
    text-decoration: none;
    list-style: none;
  }

  @mixin reset-indentations {
    margin: 0;
    padding: 0;
  }

