@import "../vendor/normalize.css";
@import "../vendor/fonts/fonts.css";
.page {
  max-width: 1440px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  margin: 0 auto;
}

.header {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  background-color: #DF2626;
  padding: 22px 50px;
  box-sizing: border-box;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 900px) {
  .header {
    padding: 24px 40px 24px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 20px 20px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease-in;
}
.header__logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 900px) {
  .header__logo {
    width: 36px;
    height: 36px;
  }
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 30px;
    height: 30px;
    margin: 0;
  }
}
.header__logo:hover {
  -webkit-animation: rotation;
          animation: rotation;
  animation-direction: reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
.header__links {
  display: flex;
  align-items: center;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  min-width: 351px;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 900px) {
  .header__links {
    display: none;
  }
}
.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
}
.header__link:hover {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
}
.header__button_menu {
  display: none;
  color: #FFFFFF;
  background-image: url(../../../../images/header-button-menu.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 32px;
  height: 23px;
}
.header__button_menu:active {
  opacity: 0.8;
}
@media screen and (max-width: 900px) {
  .header__button_menu {
    display: block;
  }
}
.header__burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 450px) {
  .header__burger {
    align-items: flex-start;
  }
}
.header__burger-logo {
  display: none;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 450px) {
  .header__burger-logo {
    display: block;
  }
}
.header__burger-links {
  display: flex;
  align-items: center;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  min-width: 351px;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 450px) {
  .header__burger-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 56px 0 6px;
    min-width: 0px;
    min-height: 0px;
  }
}
.header__burger-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
}
@media screen and (max-width: 450px) {
  .header__burger-link:not(:last-child) {
    margin-bottom: 12px;
  }
}
.header__button_close {
  color: #FFFFFF;
  background-image: url(../../../../images/header-button-close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 27px;
  height: 27px;
}
.header__button_close:active {
  opacity: 0.8;
}

.closed {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(2, 1fr);
  padding: 50px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
@media screen and (max-width: 1320px) {
  .course {
    grid-template: max-content/688px;
    grid-template-areas: "course__title" "course__image" "course__container";
    padding: 40px;
  }
}
@media screen and (max-width: 767px) {
  .course {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
    padding: 20px;
  }
}
.course__image {
  max-width: 642px;
  max-height: 555px;
  grid-row: 1/3;
  grid-column: 2/3;
  width: 100%;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 1320px) {
  .course__image {
    grid-area: course__image;
    max-width: 688px;
    max-height: 594px;
  }
}
@media screen and (max-width: 767px) {
  .course__image {
    max-width: 280px;
    max-height: 242px;
  }
}
.course__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: start;
  justify-content: space-between;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 1320px) {
  .course__container {
    grid-area: course__container;
  }
}
.course__title {
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 1320px) {
  .course__title {
    grid-area: course__title;
    max-width: 624px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .course__title {
    font-weight: 400;
    font-size: 47px;
    line-height: 56px;
    color: #000000;
    text-decoration: none;
    list-style: none;
    max-width: 282px;
  }
}
.course__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 469px;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 1320px) {
  .course__subtitle {
    max-width: 469px;
    margin: 60px 0;
  }
}
@media screen and (max-width: 767px) {
  .course__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    list-style: none;
    max-width: 276px;
    margin: 60px 0 30px 0;
  }
}

.button-style {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  text-align: center;
  padding: 10px 68px;
  max-width: 228px;
  max-height: 49px;
  background: #ffffff;
  cursor: pointer;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 9999px;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .button-style {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
    list-style: none;
    max-width: 169px;
    max-height: 40px;
    padding: 6px 48px;
  }
}
.button-style:hover {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  list-style: none;
}

.composition {
  background-color: #FFCE00;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.4s ease-in;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 80px 230px 1fr 185px;
  grid-template-areas: "composition__description composition__image" "composition__title composition__image" "composition__container composition__image" "composition__rules composition__rules";
}
@media screen and (max-width: 1320px) {
  .composition {
    grid-template: max-content/688px;
    grid-template-areas: "composition__description" "composition__title" "composition__image" "composition__container" "composition__rules";
    padding: 40px;
  }
}
@media screen and (max-width: 767px) {
  .composition {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
    padding: 40px 20px 20px;
  }
}
.composition__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  transition: all 0.4s ease-in;
  grid-area: composition__description;
}
@media screen and (max-width: 767px) {
  .composition__description {
    padding-top: 20px;
    border-top: 1px solid #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    list-style: none;
  }
}
.composition__title {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.4s ease-in;
  max-width: 403px;
  grid-area: composition__title;
}
@media screen and (max-width: 1320px) {
  .composition__title {
    padding: 40px 0 60px;
  }
}
@media screen and (max-width: 767px) {
  .composition__title {
    max-width: 280px;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #000000;
    text-decoration: none;
    list-style: none;
    padding: 30px 0 60px;
  }
}
.composition__image {
  max-width: 642px;
  max-height: 685px;
  width: 100%;
  transition: all 0.4s ease-in;
  grid-area: composition__image;
}
@media screen and (max-width: 1320px) {
  .composition__image {
    max-width: 688px;
  }
}
@media screen and (max-width: 767px) {
  .composition__image {
    max-width: 280px;
    max-height: 278px;
  }
}
.composition__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  align-items: start;
  transition: all 0.4s ease-in;
  grid-area: composition__container;
}
@media screen and (max-width: 1320px) {
  .composition__container {
    margin: 60px 0 50px;
  }
}
.composition__subtitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: start;
  max-width: 370px;
}
@media screen and (max-width: 1320px) {
  .composition__subtitles {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .composition__subtitles {
    margin-bottom: 30px;
    max-width: 278px;
  }
}
.composition__subtitle {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  margin: 0;
}
.composition__subtitle:not(:last-child) {
  margin-bottom: 20px;
}
.composition__subtitle_bold {
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .composition__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    list-style: none;
  }
  .composition__subtitle:not(:last-child) {
    margin-bottom: 36px;
  }
}
.composition__rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-self: end;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;
  grid-area: composition__rules;
}
@media screen and (max-width: 1320px) {
  .composition__rules {
    flex-direction: column;
    align-items: flex-start;
  }
}
.composition__rule {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  max-width: 291px;
}
@media screen and (max-width: 1320px) {
  .composition__rule {
    min-width: 688px;
  }
  .composition__rule:last-child {
    padding-top: 30px;
  }
  .composition__rule:not(:last-child) {
    padding: 30px 0;
    border-bottom: 1px solid #000000;
  }
}
@media screen and (max-width: 767px) {
  .composition__rule {
    min-width: 280px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    list-style: none;
  }
  .composition__rule:last-child {
    padding-top: 14px;
  }
  .composition__rule:not(:last-child) {
    padding: 14px 0;
    border-bottom: 1px solid #000000;
  }
}
.composition__button {
  padding: 10px 62px;
}
@media screen and (max-width: 767px) {
  .composition__button {
    padding: 6px 45px;
  }
}

.camera {
  background-color: #000000;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.4s ease-in;
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 80px 1fr 80px 470px;
  grid-template-areas: "camera__description camera__image" "camera__title camera__image" "camera__subtitle camera__image" "camera__container camera__container";
}
@media screen and (max-width: 1320px) {
  .camera {
    grid-template: max-content/688px;
    grid-template-areas: "camera__description" "camera__title" "camera__image" "camera__subtitle" "camera__container";
    padding: 40px;
  }
}
@media screen and (max-width: 767px) {
  .camera {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, -webkit-max-content);
    grid-template-rows: repeat(5, max-content);
    padding: 40px 20px 20px;
  }
}
.camera__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  transition: all 0.4s ease-in;
  grid-area: camera__description;
}
@media screen and (max-width: 767px) {
  .camera__description {
    padding-top: 20px;
    border-top: 1px solid #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
  }
}
.camera__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 122px;
  line-height: 122px;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  max-width: 617px;
  transition: all 0.4s ease-in;
  grid-area: camera__title;
}
@media screen and (max-width: 1320px) {
  .camera__title {
    padding: 60px 0 40px;
  }
}
@media screen and (max-width: 767px) {
  .camera__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
    padding: 30px 0 60px;
    max-width: 243px;
  }
}
.camera__subtitle {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  align-self: flex-end;
  grid-area: camera__subtitle;
}
@media screen and (max-width: 1320px) {
  .camera__subtitle {
    padding-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .camera__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
  }
}
.camera__image {
  max-width: 642px;
  max-height: 832px;
  width: 100%;
  transition: all 0.4s ease-in;
  grid-area: camera__image;
}
@media screen and (max-width: 1320px) {
  .camera__image {
    max-width: 688px;
    max-height: 656px;
  }
}
@media screen and (max-width: 767px) {
  .camera__image {
    max-width: 280px;
    max-height: 268px;
  }
}
.camera__container {
  display: flex;
  width: 100%;
  margin-top: 180px;
  grid-area: camera__container;
}
@media screen and (max-width: 1320px) {
  .camera__container {
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .camera__container {
    margin-top: 60px;
  }
}
.camera__review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  max-width: 530px;
}
.camera__review:not(:last-child) {
  margin-right: 172px;
}
@media screen and (max-width: 1320px) {
  .camera__review {
    max-width: 688px;
  }
  .camera__review:not(:last-child) {
    padding-bottom: 60px;
    margin: 0;
  }
  .camera__review:not(:first-child) {
    padding-top: 60px;
    border-top: 1px solid #FFFFFF;
  }
}
@media screen and (max-width: 1320px) and (max-width: 767px) {
  .camera__review {
    max-width: 280px;
  }
  .camera__review:not(:last-child) {
    padding-bottom: 30px;
  }
  .camera__review:not(:first-child) {
    padding-top: 30px;
  }
}
.camera_comment {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 43px;
  line-height: 43px;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .camera_comment {
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
  }
}
.camera__author {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  padding: 60px 0 10px;
}
@media screen and (max-width: 767px) {
  .camera__author {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
  }
}
.camera__author-link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .camera__author-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
  }
}

.search {
  background-color: #FFFFFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.4s ease-in;
  padding: 50px;
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 25px 280px 1fr;
  grid-template-areas: "search__description ." "search__title ." "search__image search__container";
}
@media screen and (max-width: 1320px) {
  .search {
    grid-template: max-content/688px;
    grid-template-areas: "search__description" "search__title" "search__image" "search__container";
    padding: 40px;
  }
}
@media screen and (max-width: 767px) {
  .search {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
    padding: 40px 20px 20px;
  }
}
.search__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  transition: all 0.4s ease-in;
  grid-area: search__description;
}
@media screen and (max-width: 767px) {
  .search__description {
    padding-top: 20px;
    border-top: 1px solid #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    list-style: none;
  }
}
.search__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  transition: all 0.4s ease-in;
  max-width: 549px;
  padding: 50px 0 106px;
  grid-area: search__title;
}
@media screen and (max-width: 1320px) {
  .search__title {
    padding: 40px 0 60px;
  }
}
@media screen and (max-width: 767px) {
  .search__title {
    max-width: 280px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    text-decoration: none;
    list-style: none;
    padding: 30px 0 60px;
  }
}
.search__image {
  max-width: 648px;
  max-height: 333px;
  width: 100%;
  transition: all 0.4s ease-in;
  grid-area: search__image;
}
@media screen and (max-width: 1320px) {
  .search__image {
    max-width: 688px;
    max-height: 360px;
  }
}
@media screen and (max-width: 767px) {
  .search__image {
    max-width: 280px;
    max-height: 147px;
  }
}
.search__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  grid-area: search__container;
  max-width: 380px;
  padding-left: 345px;
  align-items: flex-start;
}
@media screen and (max-width: 1320px) {
  .search__container {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .search__container {
    max-width: 280px;
  }
}
.search__subtitle {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  list-style: none;
}
@media screen and (max-width: 1320px) {
  .search__subtitle {
    padding: 60px 0;
  }
}
@media screen and (max-width: 767px) {
  .search__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    list-style: none;
    padding: 60px 0 30px;
  }
}
.search__button {
  padding: 10px 62px;
}
@media screen and (max-width: 767px) {
  .search__button {
    padding: 6px 45px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #DF2626;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.4s ease-in;
  padding: 50px;
  display: grid;
  grid-template-columns: 176px 1fr;
  grid-template-rows: 100px 120px 1fr 70px;
  grid-template-areas: "footer__logo footer__title" ". footer__title" ". footer__form" "footer__copyright .";
}
@media screen and (max-width: 1320px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 30px;
    grid-template-areas: "footer__title" "footer__form" "footer__copyright";
    padding: 40px;
  }
}
.footer__logo {
  padding-right: 50px;
  grid-area: footer__logo;
}
@media screen and (max-width: 1320px) {
  .footer__logo {
    display: none;
  }
}
.footer__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 120px;
  line-height: 120px;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  max-width: 685px;
  grid-area: footer__title;
}
@media screen and (max-width: 1320px) {
  .footer__title {
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
    max-width: 571px;
  }
}
@media screen and (max-width: 767px) {
  .footer__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 50px;
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
    max-width: 100%;
  }
}
.footer__form {
  margin: 120px 0 86px;
  display: flex;
  grid-area: footer__form;
}
.footer__email {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  width: 348px;
  height: 50px;
  padding-left: 20px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 8px 0px 0px 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 0.375px;
  cursor: pointer;
}
.footer__button {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  width: 205px;
  height: 53px;
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
}
.footer__button:hover {
  font-weight: 700;
}
.footer__copyright {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  max-width: 155px;
  grid-area: footer__copyright;
}/*# sourceMappingURL=index.css.map */