@import "../vendor/normalize.css";
@import "../vendor/fonts/fonts.css";
.page {
  max-width: 1440px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  margin: 0 auto;
}

.header {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  background-color: #DF2626;
  padding: 22px 50px;
  box-sizing: border-box;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 900px) {
  .header {
    padding: 24px 40px 24px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 20px 20px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease-in;
}
.header__logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 900px) {
  .header__logo {
    width: 36px;
    height: 36px;
  }
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 30px;
    height: 30px;
    margin: 0;
  }
}
.header__logo:hover {
  -webkit-animation: rotation;
          animation: rotation;
  animation-direction: reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
.header__links {
  display: flex;
  align-items: center;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  min-width: 351px;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 900px) {
  .header__links {
    display: none;
  }
}
.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
}
.header__link:hover {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
}
.header__button_menu {
  display: none;
  color: #FFFFFF;
  background-image: url(../../../../images/header-button-menu.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 32px;
  height: 23px;
}
.header__button_menu:active {
  opacity: 0.8;
}
@media screen and (max-width: 900px) {
  .header__button_menu {
    display: block;
  }
}
.header__burger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 450px) {
  .header__burger {
    align-items: flex-start;
  }
}
.header__burger-logo {
  display: none;
  width: 30px;
  height: 30px;
}
@media screen and (max-width: 450px) {
  .header__burger-logo {
    display: block;
  }
}
.header__burger-links {
  display: flex;
  align-items: center;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  min-width: 351px;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 450px) {
  .header__burger-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 56px 0 6px;
    min-width: 0px;
    min-height: 0px;
  }
}
.header__burger-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
}
@media screen and (max-width: 450px) {
  .header__burger-link:not(:last-child) {
    margin-bottom: 12px;
  }
}
.header__button_close {
  color: #FFFFFF;
  background-image: url(../../../../images/header-button-close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 27px;
  height: 27px;
}
.header__button_close:active {
  opacity: 0.8;
}

.closed {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(2, 1fr);
  padding: 50px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
@media screen and (max-width: 1320px) {
  .course {
    grid-template: max-content/688px;
    grid-template-areas: "course__title" "course__image" "course__container";
    padding: 40px;
  }
}
@media screen and (max-width: 767px) {
  .course {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, -webkit-max-content);
    grid-template-rows: repeat(3, max-content);
    padding: 20px;
  }
}
.course__image {
  max-width: 642px;
  max-height: 555px;
  grid-row: 1/3;
  grid-column: 2/3;
  width: 100%;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 1320px) {
  .course__image {
    grid-area: course__image;
    max-width: 688px;
    max-height: 594px;
  }
}
@media screen and (max-width: 767px) {
  .course__image {
    max-width: 280px;
    max-height: 242px;
  }
}
.course__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: start;
  justify-content: space-between;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 1320px) {
  .course__container {
    grid-area: course__container;
  }
}
.course__title {
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 1320px) {
  .course__title {
    grid-area: course__title;
    max-width: 624px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  .course__title {
    font-weight: 400;
    font-size: 47px;
    line-height: 56px;
    color: #000000;
    text-decoration: none;
    list-style: none;
    max-width: 282px;
  }
}
.course__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 469px;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 1320px) {
  .course__subtitle {
    max-width: 469px;
    margin: 60px 0;
  }
}
@media screen and (max-width: 767px) {
  .course__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-decoration: none;
    list-style: none;
    max-width: 276px;
    margin: 60px 0 30px 0;
  }
}

.button-style {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  list-style: none;
  text-align: center;
  padding: 10px 68px;
  max-width: 228px;
  max-height: 49px;
  background: #ffffff;
  cursor: pointer;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 9999px;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .button-style {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
    list-style: none;
    max-width: 169px;
    max-height: 40px;
    padding: 6px 48px;
  }
}
.button-style:hover {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  list-style: none;
}/*# sourceMappingURL=index.css.map */